# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/admin/node_modules
/web/node_modules

# production
/web/firebase

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
