@font-face {
    font-family: 'Jomolhari', serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Staatliches', cursive;
    font-family: 'ZCOOL XiaoWei', serif;
    font-family: 'Fjalla One', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Fjalla+One|Jomolhari|Libre+Baskerville|Montserrat|Staatliches|ZCOOL+XiaoWei&display=swap');
}
